POSTGRES_DB=nexos
POSTGRES_USER=nexos_user
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_PORT=5432
ConnectionStrings__DefaultConnection=Host=postgres;Database=nexos;Username=nexos_user;Password=your_secure_password_here;Port=5432